.content{
    padding-left: 1% ;
    padding-right: 1% ;
    align-content: center;
}

.img-fluid{
    height: 60pt;
}

.menubox{
    padding: 2%;
    text-align:center;
    background-color: #e0e0e0;
    margin:2%;
    border-radius: 2%;
    box-shadow:5px 5px #f0f0f0;
}


.tebal{
    font-weight: bold;
}
